@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  background-color: #19A1AE;
  background-image: url("./assets/images/bg-pattern-bottom.svg")
}
.App {
  background-image: url("./assets/images/bg-pattern-top.svg");
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 348px;
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card__top {
  height: 140px; 
  width: 350px;
  margin-bottom: -5rem;
}
.card__backgroundImage {
  width: 350px;
  height: 120px;
  border-radius: 10px 10px 0 0;
}
.card__image {
  height: 96px;
  width: 96px;
  border-radius: 50%;
  border: 5px solid white;
}
.card__imageTitle {
  font-size: 18px;
  font-weight: bold;
  font-family: Kumbh Sans;
}
.card__imageSpan {
  font-size: 18px;
  font-weight: 300;
  color: #6b7082;
  font-family: Kumbh Sans;
  margin-left: 0.5rem;
}
.card__imageLocation {
  font-size: 14px;
  font-weight: 300;
  color: #6b7082;
  font-family: Kumbh Sans;
}
.middle {
  
}

.card__bottom {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: auto;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.card__bottomStack {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__divider {
  border: 0.1px solid #E8E9EC;
  width: 100%;
  margin: 0.5rem auto;
}
.card__bottomStackTitle {
  font-weight: 700;
  font-size: 18px;
  font-family: Kumbh Sans;
  margin-bottom: 0;
}
.card__bottomStackPara {
  font-size: 10px;
  color: #6b7082;
  letter-spacing: 1.5px;
}